<h1>Sobre nós</h1>
<p  class="pzinho" style="margin-left: 50px;">Projeto Interdisciplinar II - ESPM TECH / 2º semestre</p>

<p style="margin-left: 50px; font-size: 2.5em; color: rgba(78, 78, 78, 0.952);"">Integrantes: </p>

<div class="container-fluid container" style="max-width: 1500px; padding-top: 0px;">

    <div class="row">
        <div class="col-sm-3 coluna">
            <div class="ficha">
                <div class="quadrado" style="background: linear-gradient(to bottom, rgb(124, 0, 206), rgb(255, 0, 157));">
                    <img src="/public/IMGS/INTEGRANTES/be.jpeg" style="width: 250px; height: 250px; border-radius: 20px; margin: 30px; margin-bottom: 0;">
                    <h5 style="margin: 20px;">Bernardo César de Figueiredo</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 coluna">
            <div class="ficha">
                <div class="quadrado" style="background: linear-gradient(to bottom, rgb(0, 52, 119),rgb(5, 161, 122));">
                    <img src="/public/IMGS/INTEGRANTES/zafs.jpeg" style="width: 250px; height: 250px; border-radius: 20px; margin: 30px; margin-bottom: 0;">
                    <h5 style="margin: 20px;">Fernando Zafani Gomes Filho</h5>
                </div>
            </div>
        </div>
    
        <div class="col-sm-3 coluna">
            <div class="ficha">
                <div class="quadrado" style="background: linear-gradient(to bottom, rgb(105, 2, 62), rgb(255, 115, 115));">
                    <img src="/public/IMGS/INTEGRANTES/igao.jpeg" style="width: 250px; height: 250px; border-radius: 20px; margin: 30px; margin-bottom: 0;">
                    <h5 style="margin: 20px;">Igor Carolino </br>Ruiz</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 coluna">
            <div class="ficha">
                <div class="quadrado" style="background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(41, 3, 148));">
                    <img src="/public/IMGS/INTEGRANTES/joao.jpeg" style="width: 250px; height: 250px; border-radius: 20px; margin: 30px; margin-bottom: 0;">
                    <h5 style="margin: 20px;">João Lucas Abreu</br> Nogueira</h5>
                </div>
            </div>
        </div>
    </div>
    
</div>


<%- contentFor("pos-styles") %>
<style type="text/css">

body {
        color: #fff;
    }

h1 {
    opacity: 1;
    font-size: 3.7em;
    background: linear-gradient(to right, hotpink, rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    padding-left: 50px;
}

h2 {
    font-size: 1.7em;
    margin: 0 50px 10px;
}

.pzinho {
opacity: 0.7;
    font-size: 2.7em;
    background: linear-gradient(to right, rgb(112, 215, 255), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

</style>