<h1>Sobre nós</h1>

<h2>O projeto desse site foi criado para se ter um lugar para postarem artes de forma geral, seja uma arte famosa que a pessoa gosta, ou uma arte autoral que ele gostaria que outras pessoas vissem</h2>

<p style="margin-left: 50px;">Projeto Interdisciplinar II - ESPM TECH / 2º semestre</p>

<div class="container-fluid container" style="max-width: 1000px;">
    <h3>Integrantes</h3>
    <div class="row">
        <div class="col-sm-6 coluna" style="padding-bottom: 80px;">
            <div class="ficha">
                <div class="quadrado">
                    <img src="/public/IMGS/INTEGRANTES/joao.jpeg" style="width: 300px; height: 300px; border-radius: 20px; margin: 40px; margin-bottom: 0;">
                    <h5 style="margin: 20px;">João Lucas Abreu Nogueira</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6 coluna" style="padding-bottom: 80px;">
            <div class="ficha">
                <div class="quadrado">
                    <img src="/public/IMGS/INTEGRANTES/zafs.jpeg" style="width: 300px; height: 300px; border-radius: 20px; margin: 40px; margin-bottom: 0;">
                    <h5 style="margin: 20px;">Fernando Zafani Gomes Filho</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 coluna" style="padding-bottom: 80px;">
            <div class="ficha">
                <div class="quadrado">
                    <img src="/public/IMGS/INTEGRANTES/igao.jpeg" style="width: 300px; height: 300px; border-radius: 20px; margin: 40px; margin-bottom: 0;">
                    <h5 style="margin: 20px;">Igor Carolino Ruiz</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6 coluna" style="padding-bottom: 80px;">
            <div class="ficha">
                <div class="quadrado">
                    <img src="/public/IMGS/INTEGRANTES/be.jpeg" style="width: 300px; height: 300px; border-radius: 20px; margin: 40px; margin-bottom: 0;">
                    <h5 style="margin: 20px;">Bernardo César de Figueiredo </h5>
                </div>
            </div>
        </div>
    </div>
    
</div>


<%- contentFor("pos-styles") %>
<style type="text/css">

body {
        color: #fff;
    }

h1 {
    opacity: 1;
    font-size: 3.7em;
    background: linear-gradient(to right, hotpink, rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    padding-left: 50px;
}

h2 {
    font-size: 1.7em;
    margin: 0 50px 10px;
}

</style>