<h1>Explore</h1>

<h2>Conheça nossos diferentes artistas</h2>

<h3>Pinturas</h3>

<div class="glide espacamento" id="glide1">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
          <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/caos2_FelipeCalazans.jpg);"></div>
          <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/capitao-flora_VictorLins.jpg);"></div>
          <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/flying-whales-marioKoller.jpg);"></div>
          <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/LuarUrbanos_TonioloNeto.jpg);"></div>
          <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/metamorphosis-i_Ongarelli.jpg);"></div>
          <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/PlanetaryTransitions_AdamLenzi.jpg);"></div>
          <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/winter-ii_AugustoLima.jpg);"></div>
          <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/hope_mys.jpg);"></div>
          <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/skull-ii_MarceloMantovani.jpg);"></div>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
    </div>
  </div>

  <h3>Arte Digital</h3>

  <div class="glide espacamento" id="glide2">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/Luz_Station.jpg);"></div>
        <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/Macaco2.jpg);"></div>
        <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/Omniskull.jpg);"></div>
        <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/orquidea.jpg);"></div>
        <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/Passarinhando.jpg);"></div>
        <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/PorDoSol.jpg);"></div>
        <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/VoltandoProFuturo.jpg);"></div>
        <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/BairroLiberdade.jpg);"></div>
        <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/Zebra_GuiMoraes.jpg);"></div>
        <li class="glide__slide"> <div class="imagem-galeria" style="background-image: url(/public/IMGS/Gato.jpg);"></div>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
    </div>
  </div>

  <h3>Fotografia</h3>
  <div class="glide espacamento" id="glide3">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide"> <img src="/public/IMGS/jacare.png"/></li>
        <li class="glide__slide"> <img src="/public/IMGS/jacare.png"/></li>
        <li class="glide__slide"> <img src="/public/IMGS/jacare.png"/></li>
        <li class="glide__slide"> <img src="/public/IMGS/jacare.png"/></li>
        <li class="glide__slide"> <img src="/public/IMGS/jacare.png"/></li>
        <li class="glide__slide"> <img src="/public/IMGS/jacare.png"/></li>
        <li class="glide__slide"> <img src="/public/IMGS/jacare.png"/></li>
        <li class="glide__slide"> <img src="/public/IMGS/jacare.png"/></li>
        <li class="glide__slide"> <img src="/public/IMGS/jacare.png"/></li>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
    </div>
  </div>

  <h3>3D</h3>


<%- contentFor("styles") %>
<link rel="stylesheet" href="/public/glide-3.4.1/dist/css/glide.core.min.css" />
<link rel="stylesheet" href="/public/glide-3.4.1/dist/css/glide.theme.min.css" />

<%- contentFor("scripts") %>
<script src="/public/glide-3.4.1/dist/glide.min.js"></script>

<script>
const config={
  type: "carousel",
  focusAt: "center",
  perView: 3,
  startAt:1,
  
}
new Glide("#glide3", config).mount();
new Glide("#glide1", config).mount();
new Glide("#glide2", config).mount();
</script>

<%- contentFor("pos-styles") %>
<style type="text/css">
h1 {
    opacity: 1;
    font-size: 3.7em;
    background: linear-gradient(to right, hotpink, rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    padding-left: 50px;
}

 h2 {
    opacity: 0.7;
    font-size: 2.7em;
    background: linear-gradient(to right, rgb(112, 215, 255), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    padding-left: 50px;
    padding-bottom: 25px;
}
h3 {
    opacity: 0.5;
    margin-bottom: 3px;
    font-size: 1.7em;
    background: linear-gradient(to right, rgb(159, 61, 252), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    padding-left: 25px;
    padding-bottom: 10px;
}

img{
  max-width: 100%;
}

.espacamento{
  padding-bottom: 20px;
}

</style>
