<!-- Slider Passer -->
<section class="home">
  <video class="video-slide active" src="/public/VIDEOS/mixkit-mix-of-blue-green-and-pink-colored-paints-3842.mp4" autoplay muted loop></video>
  <video class="video-slide" src="/public/VIDEOS/mixkit-abstract-psychedelic-texture-in-motion-red-and-white-tones-12309-medium.mp4" autoplay muted loop></video>
  <video class="video-slide" src="/public/VIDEOS/mixkit-hand-of-an-artist-with-a-brush-when-painting-5197.mp4" autoplay muted loop></video>
  <video class="video-slide" src="/public/VIDEOS/mixkit-tour-high-above-a-city-at-dusk-41375.mp4" autoplay muted loop></video>
  <video class="video-slide" src="/public/VIDEOS/mixkit-stars-in-space-1610.mp4" autoplay muted loop></video>
  <div class="content active">
    <h1>O que é?<br><span>Arte.</span></h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five <i>fratinha pato no truco</i> centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <a href="#">Leia Mais</a>
  </div>
  <div class="content">
    <h1>Expressão<br><span>Audiovisual</span></h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <a href="#">Leia Mais</a>
  </div>
  <div class="content">
    <h1>Cores e <br><span>Imagens</span></h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <a href="#">Leia Mais</a>
  </div>
  <div class="content">
    <h1>luz e <br><span>Fotografia</span></h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <a href="#">Leia Mais</a>
  </div>
  <div class="content">
    <h1>um jeito diferente de <br><span>viver</span></h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <a href="#">Leia Mais</a>
  </div>
  <div class="media-icons">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a> 
  </div>
  <div class="slider-nav">
    <div class="slider-nav-btn active"></div>
    <div class="slider-nav-btn"></div>
    <div class="slider-nav-btn"></div>
    <div class="slider-nav-btn"></div>
    <div class="slider-nav-btn"></div>
  </div>
</section>

<!-- Container -->
<div class="container-fluid container">
<!-- Landing -->
  <div class="row">
    <div class="col-sm-6 coluna">
      <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_sk5h1kfn.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
    </div>
    <div class="col-sm-6 coluna">
      <div class="box">
        <h1>Venda</h1>
        <h2>Publique</h2>
        <h3>Compartilhe</h3>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
      </div>
    </div>
  </div>

<!-- Cards -->
  <h1 class="titulos">Nossos Artistas</h1>
  <div class="row c">

    <div class="col-sm-6 coluna">
      <div class="card">
        <img class="card-img-top" src="https://esnoticia.sv/wp-content/uploads/2020/10/21-6.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nome_da_Obra</h5>
          <h6 class="card-text">Por Nome_do_Artista</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Veja Mais</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 coluna">
      <div class="card">
        <img class="card-img-top" src="https://esnoticia.sv/wp-content/uploads/2020/10/21-6.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nome_da_Obra</h5>
          <h6 class="card-text">Por Nome_do_Artista</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Veja Mais</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row c" style="margin-bottom: 50px;">

    <div class="col-sm-6 coluna">
      <div class="card">
        <img class="card-img-top" src="https://esnoticia.sv/wp-content/uploads/2020/10/21-6.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nome_da_Obra</h5>
          <h6 class="card-text">Por Nome_do_Artista</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Veja Mais</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 coluna">
      <div class="card">
        <img class="card-img-top" src="https://esnoticia.sv/wp-content/uploads/2020/10/21-6.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nome_da_Obra</h5>
          <h6 class="card-text">Por Nome_do_Artista</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Veja Mais</a>
        </div>
      </div>
    </div>


  </div>

<!-- Icons -->
  <h1 class="titulos">Benefícios</h1>

  <div class="row">
    <div class="col-sm-4 coluna">
      <div class="cube">
        <div class="cube1">
          <i class="material-icons icons">paid</i>
          <h4>Remuneração Justa</h4>
        </div>
        <p>Publique gratuitamente suas artes e com uma baixa taxa nas transições torne suas obras uma fonte lucrativa!</p>
      </div>
    </div>
    <div class="col-sm-4 coluna">
      <div class="cube">
        <div class="cube2">
          <i class="material-icons icons">lightbulb</i>
          <h4>Exponha as suas Ideias</h4>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
      </div>
    </div>
    <div class="col-sm-4 coluna">
      <div class="cube">
        <div class="cube3">
          <i class="material-icons icons">fingerprint</i>
          <h4>Deixe a sua Marca</h4>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 coluna">
      <div class="cube">
        <div class="cube1">
          <i class="material-icons icons">add_shopping_cart</i>
          <h4>Compre Projetos</h4>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
      </div>
    </div>
    <div class="col-sm-4 coluna">
      <div class="cube">
        <div class="cube2">
          <i class="material-icons icons">trending_up</i>
          <h4>Possua Relevância</h4>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
      </div>
    </div>
    <div class="col-sm-4 coluna">
      <div class="cube">
        <div class="cube3">
          <i class="material-icons icons">app_shortcut</i>
          <h4>Explore</h4>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
      </div>
    </div>
  </div> 
</div>




<%- contentFor("pos-styles") %>
<style type="text/css">
  header {
    position: absolute;
  }
</style>


<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>


