<h1>Upload da sua arte!</h1>

<h2>
    Faça sua obra fazer parte do nosso site para que mais pessoas vejam ela! 
</h2>

<p>Arraste ou clique aqui ↓</p>

<p><img src="/public/IMGS/default.png" width="150px"></p>

<h3>Nome da obra:</h3>
<h3>Autor:</h3>
<h3>Sobre: <span style="color: #808080;">(opcional)</span></h3>